
# Database
DATABASE_URL=postgresql://rhythamnegi:000000zlPS4KLymF@88.214.211.111/pathy

# Redis
REDIS_URL=redis://localhost:6379/0

JINA_AI_KEY= jina_bcabe2daxxxxxxxxf8635fa40ejBVna


# AI/LLM
OPENAI_API_KEY= sk-52c7d766253705c3-omlmcd-b4f93ab6
OPENAI_BASE_URL= http://localhost:20128/v1
OPENAI_MODEL_NAME= oc/north-mini-code-free
EXA_AI_KEY = 7a08d79c7d766253705c3-omlmcd-14d3d

# Frontend Client API Endpoint Configuration
# Set this to the public IP / URL of the backend (e.g. http://your-server-ip:7777) in production.
NEXT_PUBLIC_API_URL=http://localhost:7777
