node_modules
.next
out
dist
.DS_Store
.git
.github
.vscode
Dockerfile
.dockerignore
node_modules
.next
.git
.gitignore
*.md
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
coverage
.vscode
.idea
dist
out
README.md